.body{
    margin:0;    
}
.board{
    text-align: center;
    background-color: purple;
    color:white;
    padding:50px;
    font-size: 25px;
}
.hide {
    display: none;
}
.input_group{
    display:flex;
}

